<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateServlet</servlet-name>
        <servlet-class>DateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CounterServlet</servlet-name>
        <servlet-class>CounterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>Message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloWorldGraphics</servlet-name>
        <servlet-class>HelloWorldGraphics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimeSearcher</servlet-name>
        <servlet-class>PrimeSearcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChainCounter</servlet-name>
        <servlet-class>ChainCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalWelcome</servlet-name>
        <servlet-class>PersonalWelcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientPull</servlet-name>
        <servlet-class>ClientPull</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageRefresh</servlet-name>
        <servlet-class>PageRefresh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteSelector</servlet-name>
        <servlet-class>SiteSelector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeatherHtml</servlet-name>
        <servlet-class>WeatherHtml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountDown</servlet-name>
        <servlet-class>CountDown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTracker</servlet-name>
        <servlet-class>SessionTracker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManualInvalidate</servlet-name>
        <servlet-class>ManualInvalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartViewerCookie</servlet-name>
        <servlet-class>ShoppingCartViewerCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartViewerRewrite</servlet-name>
        <servlet-class>ShoppingCartViewerRewrite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartSession</servlet-name>
        <servlet-class>ShoppingCartSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHandler</servlet-name>
        <servlet-class>LoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletContextDemo</servlet-name>
        <servlet-class>ServletContextDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Post</servlet-name>
        <servlet-class>Servlet_Post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCookieServlet</servlet-name>
        <servlet-class>AddCookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCookieServlet</servlet-name>
        <servlet-class>GetCookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColorGetServlet</servlet-name>
        <servlet-class>ColorGetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionCounter</servlet-name>
        <servlet-class>SessionCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionDisplay</servlet-name>
        <servlet-class>SessionDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionLogger</servlet-name>
        <servlet-class>SessionLogger</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateServlet</servlet-name>
        <url-pattern>/DateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CounterServlet</servlet-name>
        <url-pattern>/CounterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorldGraphics</servlet-name>
        <url-pattern>/HelloWorldGraphics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimeSearcher</servlet-name>
        <url-pattern>/PrimeSearcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChainCounter</servlet-name>
        <url-pattern>/ChainCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalWelcome</servlet-name>
        <url-pattern>/PersonalWelcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientPull</servlet-name>
        <url-pattern>/ClientPull</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageRefresh</servlet-name>
        <url-pattern>/PageRefresh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteSelector</servlet-name>
        <url-pattern>/SiteSelector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeatherHtml</servlet-name>
        <url-pattern>/WeatherHtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountDown</servlet-name>
        <url-pattern>/CountDown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTracker</servlet-name>
        <url-pattern>/SessionTracker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManualInvalidate</servlet-name>
        <url-pattern>/ManualInvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartViewerCookie</servlet-name>
        <url-pattern>/ShoppingCartViewerCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartViewerRewrite</servlet-name>
        <url-pattern>/ShoppingCartViewerRewrite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartSession</servlet-name>
        <url-pattern>/ShoppingCartSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHandler</servlet-name>
        <url-pattern>/LoginHandler</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>driverName</param-name>
        <param-value>sun.jdbc.JdbcOdbcDriver</param-value>
    </context-param>
    <servlet>
        <servlet-name>Servlet_context</servlet-name>
        <servlet-class>Servlet_context</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_context</servlet-name>
        <url-pattern>/Servlet_context</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet_config</servlet-name>
        <servlet-class>Servlet_config</servlet-class>
        <init-param>
            <param-name>email</param-name>
            <param-value>uttam.yadav@gmail.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_config</servlet-name>
        <url-pattern>/Servlet_config</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Servlet_request</servlet-name>
        <servlet-class>Servlet_request</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_request</servlet-name>
        <url-pattern>/Servlet_request</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Servlet_request</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Servlet_Post</servlet-name>
        <url-pattern>/Servlet_Post</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>ColorGet.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>AddCookieServlet</servlet-name>
        <url-pattern>/AddCookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCookieServlet</servlet-name>
        <url-pattern>/GetCookieServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>add_cookie.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ColorGetServlet</servlet-name>
        <url-pattern>/ColorGetServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Color.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>SessionCounter</servlet-name>
        <url-pattern>/SessionCounter</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>SessionCounter</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>SessionDisplay</servlet-name>
        <url-pattern>/SessionDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionLogger</servlet-name>
        <url-pattern>/SessionLogger</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
